.navigation {
    
}

.navigation-main {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 230px;        
    padding-top: 50px;
    transform: translateX(-230px);

    z-index: -1;
    opacity: 0;
    visibility: hidden;

    .nav--is-open & {
        z-index: 1;        
        opacity: 1;
        visibility: visible;
        overflow-x: hidden;
    }

    @mixin atMedium {
        position: relative;
        z-index: 1;
        opacity: 1;
        visibility: visible;
        height: auto;
        width: 100%;
        padding-top: 0;
        justify-content: flex-end;
        flex-direction: row;    
        align-items: center;
        transform: translateX(0);
    }

    .link {
        position: relative;
        text-transform: uppercase;
        font-weight: 600;
        /* color: color(google-color(grey, 200) blend($red-light 50%)); */
        color: white;
        font-size: 1rem;
        line-height: 1.1;
        border: 2px solid transparent;
        padding: 6px 12px;
        margin-top: 30px;
        transition: color .3s ease-out;

        &::after {
            content: "";
            position: absolute;
            height: 2px;
            width: 0;
            border-radius: 3px;
            bottom: 0;
            left: 50%; 
            transform-origin: 0 0;                      
            transition: width .3s ease-out, opacity .3s ease-out;
            opacity: 0;
            visibility: hidden;
            z-index: -1;
        }

        &:hover { 
            color: $red-light;

            &::after {
                opacity: 1;
                visibility: visible;
                z-index: 1;
                width: 80%;
                transform: translate(-50%, 0);
                background-color: color(google-color(grey, 400) blend($red-light 40%) a(.2));
            }
        }

        &.btn-red {
            color: white;
            font-size: 14px;
            border-radius: 3px;
            padding: 10px 20px;
            border-bottom: none;
        }

        @mixin atMedium {
            margin-top: 0;
            &.btn-red {
                margin-left: 10px;
            }            
        }
    }
}

.menu-icon {
    position: absolute;
    z-index: 3;
    cursor: pointer;
    height: 65px;
    width: 30px;
    top: 0;
    left: 0;
    /* background: red; */

    @mixin atMedium {
        display: none;
    }

    &__center,
    &__center::before,
    &__center::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 1px;
        /* background-color: google-color(grey, 300); */
        background-color: white;
        transition: all .3s ease-out;      
    }

    &__center {
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 50%;
        left: 50%;   
        transform: translate(-50%, -50%) scaleX(1);

        &::before {
            transform: translate(0, 7px) scaleY(1) rotate(0);
            transition: translate .1s 5s scaleY 5s 10s rotate .3s 10s ease-out;
        }
        &::after {
            transform: translate(0, -7px) scaleY(1) rotate(0);
            transition: translate .1s 5s scaleY 5s 10s rotate .3s 10s ease-out;
        }          
    }  
    .is--scrolling & {
        .menu-icon__center,
        .menu-icon__center::before,
        .menu-icon__center::after {
         
        }
    }
    .nav--is-open & {
        .menu-icon__center {
            transform: translate(-50%, -50%) scaleY(1) rotate(-45deg);
        }
        .menu-icon__center::before,
        .menu-icon__center::after {

        }        
        .menu-icon__center::before {   
            transform: translate(10px, 6px) scaleY(1) rotate(-45deg);
            width: 65%;
        }
        .menu-icon__center::after {
             transform: translate(10px, -6px) scaleY(1) rotate(45deg);
             width: 65%;
        }         
    }  

    &:hover {
        .menu-icon__center,
        .menu-icon__center::before,
        .menu-icon__center::after {

        }            
    }  
    &:active {
        .menu-icon__center,
        .menu-icon__center::before,
        .menu-icon__center::after {

        }
    }    
}
