.single {

    &__content-block {
        padding-bottom: 2rem;
    }
    &__content {
        padding-bottom: 1rem;
        p {
            color: $purple-light;            
            margin-top: 25px;
            line-height: 1.7;        
        }  
        ul li { list-style-type: disc;}
        h2 {
            font-family: $serif-primary;
            font-size: 24px;
            border-top: 1px solid #ececec;
            margin-top: 44px;
            padding-top: 40px;
            line-height: 1.2; 

            @mixin atMedium {
                font-size: 35px;            
            }       
        }
    
        &__date {
            margin-top: 15px;
            font-weight: 600;
        }
        img {
            max-width: 100%;
            display: block;
        }
        a {
            background-color: color(google-color(cyan, a400) a(.2));
            border-bottom: 1px solid rgba(0,0,0,0.1);
            color: #1a1a1a;
            transition: background-color .3s ease-out;

            &:hover, &:active {
                background-color: color(google-color(cyan, a400) a(.3));
            }     
        }
 
        .blockquote, blockquote {
            background-color: color(google-color(yellow, a400) a(.3));
            border-left-color: google-color(yellow, a400);
            border-left-width: 9px;
            border-left-style: solid;
            padding: 20px 45px 20px 26px;
            margin-bottom: 30px;
            margin-top: 20px;
            margin-left: -1rem;
            margin-right: -1.6rem; ;  

            p {
                margin-top: 0;
                font-weight: 700
            }     
        }
        .highlight {
            background: rgba(255,229,100,0.2);
        }
        @mixin atMedium {
            p {
                margin-top: 30px;
            }
        }        
    }
    &__title {
        margin-bottom: 0;
        margin-top: 2.5rem;
        font-weight: 700;        
        font-size: 40px;
        line-height: 45px;

        @mixin atMedium {
            margin-top: 7rem;
            font-size: 60px;
            line-height: 65px;            
        }      
    }
    &__description, p.single__description {
        font-size: 18px;
        font-family: $serif-primary;
        font-weight: 300;
        line-height: 1.6;
        color: google-color(grey, 600);

        @mixin atMedium {
            font-size: 24px;    
        }      
    }    
}

.four-o-four {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding-top: 30px;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(#008dcd 60%, transparent);
        background-size: 300px;
    }

    h1 {
        color: color(white a(90%));
        line-height: 1;
        font-weight: 900;
        font-size: 50px;
        border-radius:  20px;
        margin-top: 30px;
        @mixin atSmall {
            
        }
        @mixin atMedium {
            /* font-size: 200px; */
        }
    }
    h2 {

        color: white;
        font-weight: 400;
        line-height: 1;
        margin: 15px auto;
        font-size: 1rem;
    }
    &__options {
        max-width: 300px;
        margin: 10px auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .btn {
            width: 140px
        }
    }
}

.puzzle {
    position: relative;

    #canvas {
        position: relative;
        overflow: hidden;
    }
}
