* {box-sizing: border-box}

body {
  position: relative;
  color: $main-gray;
  overflow-x: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: $sans-primary;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  background-color: $purple-dark;

  &.nav--is-open {
    /* position: fixed; */
    @mixin atMedium {

    }
  }
}

/* Body Structure */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  z-index: 1;
  transform: translateX(0);
  transition: all .3s ease-out;
  
  .nav--is-open & {
    transform: translateX(230px);
    position: relative;

    @mixin atMedium {
      position: relative;
      transform: translateX(0);

      .main, .footer {
        opacity: 1;
      }      
    }
  }  
}

.main {
  position: relative;
  background-color: white;
  flex: 1;
  padding-top: 60px;

  &.nav--is-open {

  }

  @mixin atMedium {

    .is--scrolling & {
      padding-top: 60px;
    }    
  }  
}

/* Defaults */

iframe {border: none;}

img {
  /* max-width: 100%;
  min-height: 100%; */
  display: block;  
}

ul li {
  list-style-type: none;
}

a:hover {
  text-decoration: none; 
}

p, h1, h2, h3, h4, h5, h6 { 

  margin: 0;   

  &::before {
    margin: 0; 
  }
  &::after {
    margin: 0; 
  }
}

p {}

.narrow {
  font-family: $sans-primary;
}

.secondaryFont {
    /*font-family: $secondaryFont;*/
}

a {
    /* color: google-color(blue, 300); */
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    transition: color .3s ease-out;
    
    &:hover {
      /* color: google-color(blue, 500); */
    }
}

.cf {
  @mixin clearfix;
}
.sticky {
  display: sticky;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.no-negative {
  margin-left: auto;
  margin-right: auto;
}

.hide-mobile {
  opacity: 0;
  z-index: -1;
  visibility: hidden;

  @mixin atMedium {
    opacity: 1;
    z-index: 1;
    visibility: visible;
  }
}
code[class*="language-"], 
pre[class*="language-"] {
  display: block;
  font-size: 13px;
}

.flex {
  display: flex;
}
