.btn {
    position: relative;
    z-index: 3;
    text-decoration: none;
    color: #fff;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid transparent;
    font-family: $sans-primary;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
    display: inline-block;

    /* Colors */
    &-peach {
        background-color: $peach;
        color: white;
        transition: background-color .4s ease-out;

        &:hover, a:hover & {
            background-color: color($purple blend($peach 30%));
        }
        &:active, a:active & {
            background-color: color($purple blend($peach 30%) shade(5%));
        }
    }    
    &-purple {
        background-color: $purple;
        color: white;

        &:hover, a:hover & {
            background-color: color($purple blend($peach 30%));
        }
        &:active, a:active & {
            background-color: color($purple blend($peach 30%) shade(5%));
        }
    }    
    &-cta {
        background-color: google-color(green, a700);
        color: white;

        &:hover, a:hover & {
            background-color: color(google-color(green, a700) shade(10%));
        }
        &:active, a:active & {
            background-color: color(google-color(green, a700) shade(15%));
        }
    }    
    &-green {
        background-color: $green-lights;
        color: white;

        &:hover, a:hover & {
            background-color: color($green-lights blend($peach 30%));
        }
        &:active, a:active & {
            background-color: color($green-lights blend($peach 30%) shade(5%));
        }
    }    
    &-outline {
        background-color: transparent;

        &--white {
            color: white;
            border-color: white;

            &:hover, a:hover {
                color: $purple-light;
                background-color: white;
            }
            &:active, a:active {
                color: $purple-dark;
                background-color: color(white a(.8));
            }            
        }
    }    

    /* Sizes */
    &-sm {
        font-size: 14px;
        font-weight: 600;
        padding: .25rem .5rem;
    }
    &-md {
        font-weight: 700;
        font-size: 14px;
        padding: .75rem 1.25rem;
    }
    &-sales {
        font-size: 20px;
        font-weight: 600;
        padding: 1rem .5rem;
        font-weight: 700;
        min-width: 290px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    &-round {
        border-radius: 50px;
    }
}

#headerContact {
    position: fixed;
    right: 30px;
    top: 18px;
    z-index: 1;
    transform: translateX(0);
    transition: all .3s ease-out;
    opacity: 1;
    visibility: visible;

    &:active {
        z-index: 0;
    }
    .modal--is-open & {
        z-index: 0;
    }
    .nav--is-open & {
        transform: translateX(230px);
    }
}
.space {
    &-y {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    &-x {
        margin-right: 30px;
        margin-left: 30px;
    }
    &-t {
        margin-top: 30px;
    }
    &-b {
        margin-bottom: 30px;
    }
    &-r {
        margin-right: 30px;
    }    
    &-l {
        margin-left: 30px;
    }    
}