.btn {
    position: relative;
    z-index: 3;
    text-decoration: none;
    color: #fff;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid transparent;
    font-family: $sans-primary;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
    display: inline-block;

    /* Colors */
    &-peach {
        background-color: $peach;
        color: white;
        transition: background-color .4s ease-out;

        &:hover, a:hover & {
            background-color: color($purple blend($peach 30%));
        }
        &:active, a:active & {
            background-color: color($purple blend($peach 30%) shade(5%));
        }
    }    
    &-purple {
        background-color: $purple;
        color: white;

        &:hover, a:hover & {
            background-color: color($purple blend($peach 30%));
        }
        &:active, a:active & {
            background-color: color($purple blend($peach 30%) shade(5%));
        }
    }    
    &-cta {
        background-color: $red-light;
        color: white;

        &:hover, a:hover & {
            background-color: color($red-light blend($peach 30%));
        }
        &:active, a:active & {
            background-color: color($red-light blend($peach 30%) shade(5%));
        }
    }    
    &-green {
        background-color: $green-lights;
        color: white;

        &:hover, a:hover & {
            background-color: color($green-lights blend($peach 30%));
        }
        &:active, a:active & {
            background-color: color($green-lights blend($peach 30%) shade(5%));
        }
    }    
    &-outline {
        background-color: transparent;

        &--white {
            color: white;
            border-color: white;

            &:hover, a:hover {
                color: $purple-light;
                background-color: white;
            }
            &:active, a:active {
                color: $purple-dark;
                background-color: color(white a(.8));
            }            
        }
    }    

    /* Sizes */
    &-sm {
        font-size: 14px;
        font-weight: 600;
        padding: .25rem .5rem;
    }
    &-md {
        font-weight: 700;
        font-size: 14px;
        padding: .75rem 1.25rem;
    }
    &-sales {
        font-size: 20px;
        font-weight: 600;
        padding: 1rem .5rem;
        font-weight: 700;
        min-width: 290px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    &-round {
        border-radius: 50px;
    }
}
