.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 2;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;

  @mixin atSmallest {
    max-width: $atSmall;
  }  
  @mixin atSmall{
    max-width: $atMedium;
  }

  @mixin atMedium {
    max-width: $atLarge;
  }

  @mixin atLarge {
    max-width: $atLargest;
  }

  &--sm {  
    max-width: 500px;
  }

  &--md {  
      max-width: 800px;
  }

  &--lg {
      max-width: 1000px;
  }

}
.content {

  @mixin atMedium {
    /* padding-top: 7rem; */
  }
  &__title {
      margin-bottom: 0;
      margin-top: 2.5rem;
      font-weight: 700;        
      font-size: 40px;
      line-height: 45px;

      @mixin atMedium {
          margin-top: 7rem;
          font-size: 60px;
          line-height: 65px;            
      }      
  }

}

