.form {
    position: relative;

    input:not([type]), 
    input[type="text"],
    input[type="email"],
    textarea,
    select,
    option {
        width: 100%;
    }

    button.submit {
        margin-top: 5%;
        padding: .5rem 2rem;

        @mixin atMedium {
            margin-top: 5%;
        }

        &.right {
            margin-right: 1rem;
            margin-left: 1rem;
        }
    }
    &__group {
        display: flex;
        width: 100%;
    }
}

.form-contact {
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


    input:not([type]), 
    input[type="text"],
    input[type="email"],
    textarea,
    select {
        border: 1px solid google-color(grey, 300);
        background-color: #fafafa;
        border-radius: 0;
        padding: .75rem;

        &:active {

        }
    }    
    label {
        color: google-color(grey, 700);
        margin-top: 5%;
        padding-bottom: 5px;
        display: inline-block;
        line-height: 1.3;

        @mixin atMedium {
            margin-top: 30px;            
        }
    }
    textarea,
    select {
        /* min-width: 300px; */
    }
    select {

        @mixin atMedium {
            height: 40px;
        }
    }
    textarea {

        @mixin atMedium {
            min-height: 100px;            
        }
    }
    .row {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        height: 100%;
    }
}
.btnClose {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    border: none;
    background-color: transparent;
    font-size: 22px;
    cursor: pointer;
    display: block;
    transition: color .3s ease-out;


   &.light {
        color: color(white a(.8));

        &:hover {
            color: white;
        }
        &:active {
            color: white;
        }    
    }

}

.modal {
    position: fixed;
    overflow-y: scroll;
    z-index: 1000;

}
.modal-contact {
    width: 100%;
    height: 100%; 
    margin: 0;
    padding: 0;   
    top: 0;
    left: 0;
    bottom: 0;
}
