.panel {
    border-radius: 6px;
    box-shadow: 0 1px 4px color(black a(.1));
    border: 1px solid google-color(grey, 300);
    background-color: color(white);
    padding-top: .5rem;
    padding-bottom: .5rem; 
    margin-top: 1.5rem;

    &__header, &__footer {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 11px;
    }

    &__header {
        padding-bottom: .5rem;
        border-bottom: 1px solid google-color(grey, 200);

        h4 {
            font-size: 1rem;        
            color: google-color(grey, 600);
            text-transform: uppercase;            
        }
    }

    &__footer {
        padding-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @mixin atSmall {
            padding-top: 20px;
            padding-right: 30px;
        }        
    }
    &__btn {
        display: none;

        @mixin atMedium {
            display: block;
            width: 95%;
        }
    }
    &__content {

        @mixin atMedium {
            display: block;
        }
        .excerpt p {
            font-family: $serif-primary; 
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;             
        } 
        .sticky p {
            white-space: pre-wrap;            
            overflow: visible;
        } 
        p {}            
    }
    &__post-data {
        position: relative;
        color: $purple;
        font-weight: 600;
        font-size: 16px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .date {
            font-weight: 600;
            color: $purple;
            padding-right: 5px;
        }
        .author {
            font-weight: 600;
            color: $purple-light;
        }

        @mixin atMedium {
            
            font-size: 14px;
            text-align: right;
            .date {
                font-size: 14px;
            }
        }
    }    
}

.panel__list {
    position: relative;

    &-item {
        border-bottom: 1px solid google-color(grey, 200);
        transition: background-color .3s ease-out;
        padding: 1rem;
        background-color: transparent;

        &:hover {
            /* background-color: color(google-color(grey, 50)); */
            h1, h2 {}     
        }

        &.last {
            boder-bottom: none;
        }
        p {           
            font-size: 1rem;
            font-weight: 400;
            color: google-color(grey, 800)
        }       
    } 
}
