.section {
    position: relative;
    z-index: 2;
    padding-bottom: 30px;

    @mixin atMedium {

        & .heading {
            font-size: $num-md;
        }
        & .subheading {
            font-size: $num-sm; 
            padding-bottom: $num-md;         
        }                       
    }

    &__post {

        .post__divide {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;

            @mixin atMedium {
                flex-direction: row;
            }
        }
    }
}

.section__title-block {
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    max-width: 90%;

    @mixin atSmall {
        padding-top: 90px;
    }

    & .heading {
        font-weight: 400;
        line-height: 1.2;
        padding-bottom: 0;
        margin-bottom: 10px;
        font-size: 30px;        
        
        @mixin atSmall {
            font-size: 40px;
        }
        @mixin atMedium {
            max-width: 75%;
            margin-left: auto;
            margin-right: auto;
        }        
    }
    & .subheading {
        font-weight: 300;
        font-size: 20px;
        line-height: 1.4;
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 60px;
        color: google-color(grey, 600);

        @mixin atSmall {
            font-size: 24px;
            margin-bottom: 90px;           
        }            
        @mixin atMedium {
            max-width: 60%;
            margin-left: auto;           
            margin-right: auto;             
        }
    }
    .underheading {
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 10px;

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 25%;
            height: 3px;
            border-radius: 3px;
            transform: translate(-50%, 0);
            background-color: color($purple a(.1));
        }

        @mixin atMedium {
            padding-bottom: 20px;
            margin-bottom: 20px;
            &:after {      
                width: 15%;          
                transform: translate(-50%, 0);
            }
        }            
    }
}

.section-hero {
    position: fixed;
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;

    @mixin atMedium {
        height: 100vh;
    }

    &__title-block {
        text-align: center;

        @mixin atMedium {
            text-align: left;
        }
    }

    & .heading {
        color: white;
        font-weight: 300;
        line-height: 1.2;
        font-size: $num-sm;
        
        @mixin atSmall {
            font-size: 40px;
        }
        @mixin atMedium {

        }
    }
    & .subheading {
        color: white;
        font-weight: 300;
        font-size: 18px;

        @mixin atSmall {
            font-size: 22px;
        }
        @mixin atMedium {

        }            
    }
}

.header {
    position: relative;
    width: 100%;
    background-color: $purple-light;
    color: white;
    margin-bottom: 30px;

    &-sm {
        padding: 1rem 0;
        font-size: 2rem;
    }
}