.color {
    &__light {
        color: white;        
        &-purple {

        }
        &-orange{
            color: google-color(deeporange, 50)
        }
    }
    &__dark {
        &--purple {

        }
        &--orange {

        }
    }
}
.pattern-wool {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        background: transparent url('../images/light-wool.png') 0 0 repeat;
        /* background-attachment: fixed; */
    }
}
.bgimg {
    position: relative;
    /* overflow: hidden; */

    &::before, &::after {
        content: "";
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }    
    &.programming {
        &::after {
            background-image: url('../images/img-programming-flat.svg');
            background-position: 0 0;
            background-repeat: no-repeat;
            background-position: right bottom;
            background-size: 800px 800px; 
            opacity: .4;           
        }
    }    
    &.webdev {
        &::after {
            background-image: url('../images/img-webdev.svg');
            background-position: 0 0;
            background-repeat: no-repeat;
            background-position: right bottom;
            background-size: 800px 800px;  
            opacity: .4;          
        }
    }    
    &.design {
        &::after {
            background-image: url('../images/img-webdesign.svg');
            background-position: 0 0;
            background-repeat: no-repeat;
            background-position: right bottom;
            background-size: 800px 800px;
            opacity: .4;            
        }
    }    

    &.masthead-inner {
        &::after {
            @mixin atMedium {
                background-image: url('../images/img-masthead-flat4.svg');
                background-position: 0 0;
                background-repeat: no-repeat;
                background-position: right bottom;
                background-size: 500px 100%;
                opacity: .8;                
            }
        }
    }   
    &.blend-purple {
        /* background: linear-gradient(-30deg, google-color(purple, 400),  google-color(teal, 400)); */
        height: 20px;
        z-index: 2;
        top: -10px;
        /* overflow: hidden; */

        &::before {
            z-index: -1;
            width: 100%;
            border-radius: 100% 100% 0 0;
            background: linear-gradient(white, red);
            transform: translate(0, -40px) skewX(0) skewY(0) scaleY(1) scaleX(1.04) rotate(0deg); 

            @mixin atMedium {
                /* transform: translate(65%, 50%) skewX(10deg) skewY(0) scaleY(1) scaleX(1.04) rotate(60deg);  */
            }
        }
        &::after {
         
        }     
    }
    &.masthead {
        background: linear-gradient(-30deg, google-color(purple, 400),  google-color(teal, 400));
        overflow: hidden;

        &::before {
            z-index: -1;
            width: 100%;
            border-radius: 100px;
            background: color($peach a(.1));
            transform: translate(75%, 30%) skewX(10deg) skewY(0) scaleY(1) scaleX(1.04) rotate(60deg); 

            @mixin atMedium {
                transform: translate(65%, 50%) skewX(10deg) skewY(0) scaleY(1) scaleX(1.04) rotate(60deg); 
            }
        }
        &::after {
            z-index: -1;
            width: 100%;
            /* background: white url('../images/light-wool.png') 0 0 repeat; */
            border-radius: 100px;
            background: color(google-color(teal, a400) a(.1));
            transform: translate(-15%, -80%) skewX(10deg) skewY(0) scaleY(1) scaleX(1.04) rotate(60deg); 

            @mixin atMedium {
                transform: translate(-45%, -100%) skewX(10deg) skewY(0) scaleY(1) scaleX(1.04) rotate(60deg); 
            }            
        }
    }    

    &.iso-top-corners {
        overflow: hidden;
        &::before {
            z-index: -1;
            width: 150%;
            height: 15%;
            background: white url('../images/light-wool.png') 0 0 repeat; 
            transform: translate(-5%, -90%) skewX(-0) skewY(0) scaleY(1) scaleX(1.0) rotate(-1deg); 

            @mixin atMedium {
                transform: translate(-5%, -90%) skewX(-0) skewY(0) scaleY(1) scaleX(1.0) rotate(-1deg); 
            }   
        }
    }       

    &.shadow-skew {
        overflow: hidden;
        &::before {
            z-index: -1;
            width: 150%;
            height: 15%;
            background: white url('../images/light-wool.png') 0 0 repeat; 
            transform: translate(-5%, -90%) skewX(-0) skewY(0) scaleY(1) scaleX(1.0) rotate(-1deg);

            @mixin atMedium {
                transform: translate(-5%, -90%) skewX(-0) skewY(0) scaleY(1) scaleX(1.0) rotate(-1deg); 
            }   
        }
    }       

    &.body-shapes {
        z-index: 3;
        overflow: hidden;        

        &::before {
            z-index: -1;
            width: 100%;
            height: 85%;
            border-radius: 100px;
            background: color($peach a(.075));
            transform: translate(80%, 10%) skewX(7deg) skewY(0) scaleY(1) scaleX(1.04) rotate(1deg); 

            @mixin atMedium {
                transform: translate(80%, 10%) skewX(7deg) skewY(0) scaleY(1) scaleX(1.04) rotate(1deg); 
            }
        }
        &::after {
            z-index: -1;
            width: 100%;
            height: 75%;
            border-radius: 100px;
            background: color(google-color(teal, a400) a(.075));
            transform: translate(-85%, 15%) skewX(7deg) skewY(0) scaleY(1) scaleX(1.04) rotate(1deg); 

            @mixin atMedium {
                transform: translate(-85%, 15%) skewX(7deg) skewY(0) scaleY(1) scaleX(1.04) rotate(1deg); 
            }         
        }
    }       

    &.img-triangle {
        z-index: 3;

        &::before {
            z-index: -1;
            width: 75%;
            height: 100%;
            border-radius: 100% 20px 20px 20px;
            background: linear-gradient(-15deg, transparent, color(google-color(lightblue, a400) a(.4)));
            transform: translate(25%, -10%) skewX(1deg) skewY(5deg) scaleY(.8) scaleX(1) rotate(50deg);  

            @mixin atMedium {
                transform: translate(25%, -10%) skewX(1deg) skewY(5deg) scaleY(.8) scaleX(1) rotate(50deg);  
            }         
        }
        
        &::after {
            z-index: -1;
            width: 75%;
            height: 100%;
            border-radius: 100% 20px 20px 20px;
            background: linear-gradient(-15deg, transparent, color(google-color(teal, a400) a(.4)));
            transform: translate(15%, 10%) skewX(1deg) skewY(5deg) scaleY(.8) scaleX(1) rotate(50deg);   

            @mixin atMedium {
                transform: translate(20%, 10%) skewX(1deg) skewY(5deg) scaleY(.8) scaleX(1) rotate(50deg);   
            }    
        }
    }       

    &.img-diamond {
        z-index: 3;

        &::before {
            z-index: -1;
            width: 75%;
            height: 100%;
            border-radius: 50% 50% 20px 50%;
            background: linear-gradient(-15deg, transparent, color(google-color(blue, a400) a(.4)));
            transform: translate(15%, 10%) skewX(1deg) skewY(5deg) scaleY(.8) scaleX(1) rotate(50deg);  

            @mixin atMedium {
                transform: translate(20%, 10%) skewX(1deg) skewY(5deg) scaleY(.8) scaleX(1) rotate(50deg);  
            }         
        }
        
        &::after {
            z-index: -1;
            width: 100%;
            height: 100%;
            border-radius: 50% 100% 20px 100%;
            background: linear-gradient(-15deg, transparent, color(google-color(amber, a200) a(.4)));
            transform: translate(5%, 0%) skewX(1deg) skewY(5deg) scaleY(.8) scaleX(1) rotate(50deg);   

            @mixin atMedium {
                transform: translate(10%, 0%) skewX(1deg) skewY(5deg) scaleY(.8) scaleX(1) rotate(50deg);   
            }    
        }
    }       

    &.img-oval {
        z-index: 3;

        &::before {
            z-index: -1;
            width: 75%;
            height: 100%;
            border-radius: 20px 100% 100% 20px;
            background: linear-gradient(-15deg, transparent, color(google-color(deeporange, a700) a(.4)));
            transform: translate(25%, 20%) skewX(1deg) skewY(5deg) scaleY(.8) scaleX(1) rotate(50deg);  

            @mixin atMedium {
                transform: translate(15%, 20%) skewX(1deg) skewY(5deg) scaleY(.8) scaleX(1) rotate(50deg);  
            }         
        }
        
        &::after {
            z-index: -1;
            width: 75%;
            height: 100%;
            border-radius: 20px 100% 100% 20px;
            background: linear-gradient(-15deg, transparent, color(google-color(deeppurple, a100) a(.4)));
            transform: translate(28%, 10%) skewX(1deg) skewY(5deg) scaleY(.8) scaleX(1) rotate(50deg);   

            @mixin atMedium {
                transform: translate(20%, 10%) skewX(1deg) skewY(5deg) scaleY(.8) scaleX(1) rotate(50deg);   
            }    
        }
    }       
}

.color {
    &--blue-light {
        color: $teal-light;
    }
    &--purple-light {
        color: google-color(deeppurple, a100);
    }
    &--amber-light {
        color: google-color(amber, a700);
    }
}

.bgcolor{
    &--gw {
        background: linear-gradient(
                    color($tan blend($purple-dark 30%)), 
                    $tan, $tan,
                    color(white blend(google-color(amber, 200) 10%)) );
    }
    &--white {
        background: white;
    }
    &--grey {
        background-color: color( #efefef blend($purple-light 5%));
    }
    &--blend-light {
        background-color: color(white a(.8));
    }
    &--tan {
        background-color: $tan;
    }
    &--cream {
        background-color: google-color(amber, 50);
    }
    &--green {
        background-color: $green-lights;
    }
    &--purple-light {
        background-color: $purple-light;
    }
    &--deeppurple {
        background: linear-gradient(#282828, color(#282828 blend(google-color(deeppurple, 800) 50%)), google-color(deeppurple, 500));
    }
    &--purple {
        background: $purple;
    }
    &--yellow {
        background-color: $yellow-dark;
    }
    &--blue {
        background: linear-gradient($teal-light, $teal-light, $teal-dark);
    }
    &--red {
        background: linear-gradient($red-dark, $red-light, $red-light);
    }
    &--main-white {
        background-color: $main-white;
    }
    &--peach {
        background-color: color($peach a(.1));

        &-gr {
            background: linear-gradient(color($peach tint(60%)), color($peach tint(80%)), 
                                        white, white, white, 
                                        color($peach tint(80%)), 
                                        color($peach tint(60%)));
        }
    }
}

.bottom-right-angle1 {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    right: -10%;
    bottom: 0; 
    width: 60%;    
    height: 200px;
    background-color: transparent;
    opacity: 1;
    transform: skewX(-50deg) scaleY(1) scaleX(1) rotate(0); 
    /* transform-origin: 0 50%;     */

    &::before {
        content: "";
        position: absolute;
        z-index: 2;
        display: block;
        left: 4%;
        top: 4%;
        width: 120%;    
        height: 200px;                
        background-color: $red-light;
        transform: translate(0, 90px) skewX(0) skewY(-12deg) scaleY(1) scaleX(1.04) rotate(0);        
    }     
}

.bottom-left-angle1 {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    left: 0;
    bottom: 0; 
    width: 100%;    
    height: 200px;
    background-color: transparent;
    opacity: .5;
    transform: skewX(0) scaleY(1) scaleX(1) rotate(0); 
    /* transform-origin: 0 50%;     */

    &::before {
        content: "";
        position: absolute;
        z-index: 2;
        display: block;
        left: -10%;
        top: 4%;
        width: 130%;    
        height: 200px;                
        background-color: $teal-light;
        transform: translate(0, 200px) skewX(0) skewY(7deg) scaleY(1) scaleX(1.04) rotate(0);        
    }

}

.top-right-angle1 {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    right: 0;
    top: -150px; 
    width: 100%;    
    height: 300px;
    background-color: transparent;
    opacity: 1;
    transform: skewX(0) scaleY(1) scaleX(1) rotate(0); 
    transform-origin: 0 0;

    &::before {
        content: "";
        z-index: -1;
        position: absolute;
        display: block;
        right: -50px;
        top: 0;
        width: 200%;    
        height: 300px;                
        background-color: $teal-light;
        transform: translate(2%, 75%) skewX(0) skewY(0) scaleY(1) scaleX(1.04) rotate(-7deg);        
    }     
}

.top-left-angle1 {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    left: 0;
    top: -150px; 
    width: 100%;    
    height: 300px;
    opacity: 1;
    transform: skewX(0) scaleY(1) scaleX(1) rotate(0); 
    transform-origin: 0 0;    

    &::before {
        content: "";
        z-index: -1;
        position: absolute;
        display: block;
        left: -50px;
        top: 0;
        width: 200%;    
        height: 300px;   
        transform: translate(-2%, 200px) skewX(0) skewY(0) scaleY(1) scaleX(1.04) rotate(7deg);                     
        background-color: $red-light;               
    }

}


